.button {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem 1rem;
  border: 1px solid #D8D8D8;
  // border-radius: 3px;
  background: #FBFBFB;

  &.slim {
    padding: 0.25rem 0.75rem;
  }

  &.large {
    padding: 0.75rem 1.5rem;
  }

  &:hover {
    background: linear-gradient(#FBFBFB, #EFEFEF);
    transition: 500ms;
    transition-property: background;
  }

  &:active {
    background: #F2F2F2;
  }

  &.primary {
    background: #5677D3;
    border-color: #4761AE;
    color: white;
   
  }

  &.outline {
    background: white;
    color: #1139A4;
    border-color: #1139A4;

    &:hover {
      background: #F1F1F1;
    }
  }

}