@import "../scss/framework.scss";

$nav-opened-offset: -22.1rem;
$nav-closed-offset: -4.1rem;

$nav-opened-width: 700px;
$nav-closed-width: 125px;

.navigation {

  .diamond-shape {
    width: $nav-closed-width;
    height: $nav-closed-width;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #0a0a0a;
    float: left;
    position: fixed;
    z-index: 3;
    top: $nav-closed-offset;
    left: $nav-closed-offset;
    animation: close-nav 300ms;
  }

  .fixed-hamburger {
    position: fixed;
    z-index: 4;
  }

  &.open {
    .diamond-shape {
      width: $nav-opened-width;
      height: $nav-opened-width;
      top: $nav-opened-offset;
      left: $nav-opened-offset;
      animation: open-nav 300ms;
    }

  }

}

@keyframes open-nav {
  0% {
    width: $nav-closed-width;
    height: $nav-closed-width;
    top: $nav-closed-offset;
    left: $nav-closed-offset;
  }
  100% {
    width: $nav-opened-width;
    height: $nav-opened-width;
    top: $nav-opened-offset;
    left: $nav-opened-offset;
  }
}

@keyframes close-nav {
  0% {
    width: $nav-opened-width;
    height: $nav-opened-width;
    top: $nav-opened-offset;
    left: $nav-opened-offset;
  }
  100% {
    width: $nav-closed-width;
    height: $nav-closed-width;
    top: $nav-closed-offset;
    left: $nav-closed-offset;
  }
}


.jupio-wordmark {

  text-align: center;
  width: 100%;

  z-index: 5;
  position: absolute;
  // top: 0.25rem;
  // text-align: right;
  // right: 1rem;
  // mix-blend-mode: difference;
  font-weight: 800;
  color: white;
  font-size: 3rem;
  // margin: 0;
  letter-spacing: -3px;

  @include tablet-up {
    text-align: center;
    right: 0;
    font-size: 5rem;
  }

  @include desktop-up {
    font-size: 6.5rem;
  }
}
