@import '../scss/framework';

.past-clients-title {
  padding: 8rem 0 0 0;
  h2 {
    width: 100%;
    text-align: center;
    color: white;
    @include large-desktop-up {
      font-size: 5rem;
    }
  }
}

.past-clients {
  background: #020202;
  height: auto;
  padding: 0;
}

.past-clients-information {
  display: block;
  width: 100%;

}

.past-clients-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}