// This file is imported inside of index.tsx
// & it holds global styles that need to be propagated
// throughout the entire application

@import "framework";

html, body {
  height: 100%;
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
body {
  font-family: $primary-font;
}